@media screen and (max-width: 768px) {

  .intro{
  margin-bottom: 150px;
}
.dash-item{
    display: none;
  }
  
.hamburger {
    display: block;
    cursor: pointer;
    margin-right: 25px;
}

.intro{
  margin-bottom: 200px;
}
.empower-intro, .power, .learn-more{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.empower-intro .circle-sm:nth-child(2){
  position: absolute;
  left: 100px; 
  top: 500px; 
  
}
.empower-intro .circle-lg:nth-child(3){
  position: absolute;
  left: 320px; 
  top: 505px; 
}
.empower-intro .circle-lg:nth-child(4){
  position: absolute;
  left: 600px; 
  top: 505px; 
}

.power .circle-lg:nth-child(2){
  position: absolute;
  left: 460px; 
  top: 600px; 
}
.power .circle-lg:nth-child(3){
  position: absolute;
  left: 120px; 
  top: 600px; 
}
.power .circle-sm:nth-child(4){
  position: absolute;
  left: 250px; 
  top: 750px; 
}
.power .circle-lg:nth-child(5){
  position: absolute;
  left: 550px; 
  top: 750px; 
}

.design-card{
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-evenly;
  row-gap: 25px;
}

.benefit-card{
  height: 310px;
}

.banner-content{
  flex-wrap: wrap; 
}

.banner-2 .circle-lg{
  left: 325px;
}

.bullet{
  width: 105px;
}

.line{
  width: 100px;
  left: 85px;  
}

.dot-profilepic{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
}

.dots{
  position: relative;
  left: 91px;
}

.pic{
  right: 84px;
}

.review-container{
  width: 100%;
  padding-bottom: 20px;
  padding-top: 75px;
}

.logo-item{
  width: 100px;
}

.pricing-wrapper{
  flex-wrap: wrap;
}
.pricing-wrapper .benefit-card{
  width: 700px;
}

.price{
  justify-content: center;
}

.pricing-contin{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title{
  margin-left: 0px; 
}

.grid-items{
  padding: 30px; 
}

.submit{
  padding-top: 10px;
}
.submit .btn{
  width: 95px;
  height: 30px
}

.btm-tags{
  display: flex;
  margin-left: 100px;
  flex-wrap: wrap;
}

.doc-tags, .res-tags{
  padding-top: 50px;
}

.disclaimer{
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 50px;
  text-align: center;
}

}


@media screen and (max-width: 480px){

.front-logo{
  width: 150px;
}

.empower-intro h3{
  font-size: 30px;
  line-height: 40px;
}

.empower-intro .circle-sm:nth-child(2){
  position: absolute;
  left: 50px;
  top: 400px;
}

.empower-intro .circle-lg:nth-child(3){
  position: absolute;
  left: 175px;
  top: 425px;
}

.empower-intro .circle-lg:nth-child(4){
  position: absolute;
  left: 350px;
  top: 425px;
}

.power .circle-lg:nth-child(3){
  position: absolute;
  left: 50px;
  top: 550px;
}

.power .circle-lg:nth-child(5){
  position: absolute;
  left: 325px;
  top: 700px;
}

.power .circle-sm:nth-child(4){
  position: absolute;
  left: 150px;
  top: 690px;
}

.power .circle-lg:nth-child(2){
  position: absolute;
  left: 260px;
  top: 550px;
}

.perspective h3{
  text-align: center;
}

.banner-content img{
  width: 100%;
}

.line{
  left: 57px;
  width: 45px;
}

.banner-2{
  height: 200px; 
  background-size: contain;
  background-repeat: no-repeat;
}

.banner-2 .circle-lg{
  left: 195px;
  top: 50px;
}

.dots{
  position: relative;
  left: 33px; 
}

.profile-pic{
  height: 420px;
  width: 350px;
}

.pic{
  top: -470px;
  left: 90px;
}

.review-container{
  height: 459px;
  padding: 0px;
  margin-top: -350px;
}
.world-best{
  margin-top: -100px;
}

.companies{
  display: flex;
    flex-direction: column;
    list-style: none;
    align-content: center;
    align-items: center;
    justify-content: center;
    row-gap: 25px;
}

.title_undertext{
  margin-top: -150px;
  margin-bottom: 35px;
}

.pricing-wrapper .benefit-card{
  width: 330px; 
  height: 375px;
}

.grid{
  display: flex;
  flex-direction: column;
}

.hire-container{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.hire-us{
  text-align: center;
}

.line{
  margin-left: 71px;
}

.footer{
  margin-top: 490px;
  display: flex;
  flex-direction: column;
  align-items: center;
}





}
