@media screen and (max-width: 768px) {

  .dash-item{
    display: none;
  }
  
  .hamburger {
    display: block;
    cursor: pointer;
    margin-right: 25px;
}
.empower-intro, .power, .learn-more{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
 }

@media screen (min-width: 480px){

 }