@media screen and (max-width: 768px) {
.intro{
  margin-bottom: 150px;
}
.dash-item{
    display: none;
  }
  
.hamburger {
    display: block;
    cursor: pointer;
    margin-right: 25px;
}
.empower-intro, .power, .learn-more{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.empower-intro .circle-sm:nth-child(2){
  position: absolute;
  left: 100px; 
  top: 500px; 
  
}
.empower-intro .circle-lg:nth-child(3){
  position: absolute;
  left: 320px; 
  top: 505px; 
}
.empower-intro .circle-lg:nth-child(4){
  position: absolute;
  left: 600px; 
  top: 505px; 
}


@media screen (min-width: 480px){

 }